<div>home component works!</div>
<div class="login-form-container">
    <md-card class="center-card">
        <h2>Please login</h2>
        <form class="layout-column">
            <div>
                <md-input placeholder="Username">
                <span md-prefix>
                    <md-icon class="material-icons app-input-icon">person</md-icon>
                    &nbsp;
                </span>
                </md-input>
            </div>
            <div>
                <md-input placeholder="Password" type="password">
                <span md-prefix>
                    <md-icon class="material-icons app-input-icon">lock</md-icon>
                    &nbsp;
                </span>
                </md-input>
            </div>
            <div>
                <button md-raised-button color="primary"
                        class="submit-button" type="submit">Login</button>
            </div>
        </form>
    </md-card>
</div>
